.intro h1 {
    font-size: 500%;
}

.intro-subtext h2 {
    font-size: 200%; 
    font-weight: lighter;
}

.recent-box {
    max-height:25vh;
}

.recent-box a {
    text-decoration: none;
}

.recent-name {
    top: -25vh;
}

