* { margin:0; padding:0; }

.show-box {
    height: 35vh;
}

.show-title {
    font-weight: bolder;
    font-size: 250%;
    margin: auto;
    text-align: center;
    color: #404040; 
    height: 100%;
    line-height: 35vh;
    white-space: nowrap;
}

.show-name {
    top: -35vh;
}
