* { margin:0; padding:0; }

.project-box {
    max-height: 40vh;
    height: 100%;
    overflow: hidden;
}

.project-box a {
    text-decoration:none;
}

.project-image {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.project-name {
    top: -40vh;
}

.project-title {
    font-size: 300%;
    font-weight: bolder;
    color: #404040;
    white-space: wrap;
    text-align: center;

}

.project-tagline {
    font-size: 150%;
    font-weight: bolder;
    color: #404040;
    white-space: wrap;
    text-align: center;
}
