.project-box {
    max-height: 40vh;
}

.project-box a {
    text-decoration:none;
}

.project-name {
    top: -40vh;
}

.project-title {
    font-size: 300%;
    font-weight: bolder;

}

.project-tagline {
    font-size: 150%;
    font-weight: bolder;
}
